.suggestions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navIcons {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.navIcons > img {
  width: 1.5rem;
  height: 1.5rem;
}

.suggestionsBtn {
  width: 70%;
  height: 2.5rem;
  align-self: center;
  border-radius: 20px;
}
