.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.authLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.authLeft > img {
  width: 4rem;
  height: 4rem;
}

.appName > h1 {
  font-size: 3rem;
  background-color: red;

  /* Create a gradient */
  background-image: var(--buttonBg);

  /* set background size & repeat properties */
  background-size: 100%;
  background-repeat: repeat;

  /* use the text as mask for the background */
  /* this will set the gradient as text color rather than element background */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  --moz-background-clip: text;
  --moz-text-fill-color: transparent;
}

.appName > h6 {
  font-size: 0.85rem;
}

.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoInput {
  border: none;
  outline: none;
  background-color: var(--input);
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}

.infoBtn {
  width: 6rem;
  height: 2rem;
  align-self: flex-end;
}

.authForm {
  background-color: var(--card);
  border-radius: 1rem;
  padding: 1rem;
}

.authForm > div {
  width: 100%;
  align-items: center;
  justify-content: center;
}
